POSTGRES_DB=hotel_pms
POSTGRES_USER=hotel_pms
POSTGRES_PASSWORD=GENERAR_CON_CONFIGURAR
DJANGO_SECRET_KEY=GENERAR_CON_CONFIGURAR
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
HOTEL_TIME_ZONE=America/Buenos_Aires
PMS_PORT=8080
COOKIE_SECURE=0
